body {
  background: #10071e;
  }
  * {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  }
  .app {
  height: auto;
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: #03dcf4;
  }
  .todo-list {
  margin-top: 16px;
  height: 48px;
  width: 384px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #9ccedf;
  }
  li {
  list-style: none;
  overflow-wrap: anywhere;
  height: auto;
  width: 176px;
  }
  /* button {
  padding: 0 8px;
  margin: 0 4px;
  border-radius: 8px;
  color: #000000;
  background-color: #f68e5f;
  } */

.button-18 {
  align-items: center;
  background-color: #0A66C2;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 0 8px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
  
.input-field{
 margin-right: 5px;
}

.header{
 color: #9ccedf;
 margin-top: 15px; 
}


